body{
  background-color: lightblue;
}
.titre-principal{
	color: red;
}
.corps{
	background-color: black;
}
h2{
	color: green;
}
.para{
	color: purple;
}
.para-2{
	color: purple;
}
.para-3{
	color: blue;
}
.para-4{
	color: red;
}